<section id="about-me"class="p-6 sm:max-w-7xl max-w-6xl mt-4 mx-auto" aria-labelledby="about-me-title">
    <header class="text-center mb-6">
      <h2 id="about-me-title" class="text-3xl sm:text-5xl font-bold font-title text-gray-800">About Me</h2>
    </header>
    <div class="text-center sm:text-left p-4">
      <p class="text-lg sm:text-xl text-gray-700 font-body leading-relaxed text-left">
        I'm Nicolás Martín Catania, a 22-year-old passionate about technology. I aspire to establish myself in the backend industry and kickstart my professional career. Although I haven't yet had the opportunity to work in the industry, I am eager and enthusiastic about landing my first internship or job. Beyond my enthusiasm for tech, I enjoy playing the guitar, going to the gym, spending time with loved ones, and continuously learning and improving.
      </p>
    </div>
  </section>
  
  