<header class="hero flex flex-col items-center text-center py-10 bg-cover bg-center relative overflow-hidden" role="banner" aria-label="main-presentation" style="background-image: url('assets/images/herobgphoto.png');">
  
    <!-- Pseudo-elemento para la superposición de la imagen -->
    <div class="absolute inset-0 bg-black opacity-50 blur-lg z-0"></div>
    
    <section class="hero-content flex flex-col items-center gap-6 relative z-10" aria-labelledby="name-ocupation">
    
      <figure class="hero-image">
          <img src="assets/images/pfoto.jpg"
            alt="Nicolas Catania - Profile photo" 
            width="250" 
            height="250"
            class="rounded-full object-cover w-64 h-64"
          >
          <figcaption class="sr-only">Nicolas Catania profile photo</figcaption>
      </figure>
    
      <div class="hero-text flex flex-col items-center gap-y-4">
        <h1 id="full-name" class="text-8xl font-bold text-white">Nicolas Catania</h1>
        <p class="ocupation text-4xl text-white">
          <span class="sr-only">Specialist in</span>
          Backend Developer | Software Engineering Student
        </p>
      </div>
    
      <nav class="hero-actions flex gap-4 mt-4" aria-label="main actions">
        <a href="#contact" class="button bg-blue-500 text-white px-4 py-2 rounded-lg">Contact</a>
        <a href="#cv" class="button bg-gray-700 text-white px-4 py-2 rounded-lg">CV</a>
      </nav>
    
    </section>
  </header>
  