<header class="hero flex flex-col items-center text-center py-10 bg-cover bg-center relative overflow-hidden min-h-screen" role="banner" [ariaLabel]="'hero.aria-label' |translate " style="background-image: url('assets/images/herobgphoto.png');">
  
  <figure class="flex w-full justify-end mr-10  z-50">
    <img 
      (click)="openMenu()" 
      src="assets/icons/optionswhite.svg" 
      class="size-10 rounded-full z-50 cursor-pointer"
      alt="Menu icon"
    >
  </figure>
  

  <div class="absolute inset-0 bg-black opacity-80 blur-lg z-0"></div>
  
  <section class="hero-content flex flex-col items-center justify-center gap-6 relative z-10 my-auto" aria-labelledby="name-ocupation" [attr.aria-labelledBy]="'hero.aria-labelledBy' | translate">
    <figure class="hero-image">
      <img src="assets/images/pfoto.jpg"
           alt="{{'hero.imgAlt' | translate}}" 
           width="250" 
           height="250"
           class="rounded-full object-cover w-64 h-64">
      <figcaption class="sr-only">{{'hero.figCaption' | translate}}</figcaption>
    </figure>
  
    <div class="hero-text flex flex-col items-center gap-y-4">
      <h1 id="full-name" class="sm:text-8xl font-title font-bold text-white text-4xl">Nicolas Catania</h1>
      <p class="ocupation sm:text-4xl text-2xl text-white font-title">
        {{'hero.title' | translate}}
      </p>
    </div>

  <nav class="hero-actions flex gap-4 mt-4 md:text-2xl text-xl justify-center items-center font-title" aria-label="main actions">
    <a [href]="cvToRetrieve" target="_blank" rel="noopener noreferrer" class="button bg-gray-800 text-white px-6 py-3 sm:px-8 sm:py-4 rounded-lg">CV</a>
    <a href="#contact" class="button bg-primaryBlue text-black font-semibold px-6 py-3 sm:px-8 sm:py-4 rounded-lg">{{'hero.contact' | translate}}</a>
  </nav>
  </section>
</header>
