<nav class=" p-6 hidden md:flex justify-between items-center relative">
    <ul class="flex space-x-6 absolute left-1/2 transform -translate-x-1/2 text-2xl text-black">
      <li>
        <a href="#" class=" hover:text-blue-200 transition duration-300">Projects</a>
      </li>
      <li>
        <a href="#" class=" hover:text-blue-200 transition duration-300">Tech stack</a>
      </li>
      <li>
        <a href="#" class=" hover:text-blue-200 transition duration-300">Education</a>
      </li>
      <li>
        <a href="#" class=" hover:text-blue-200 transition duration-300">About me</a>
      </li>
      <li>
        <a href="#" class=" hover:text-blue-200 transition duration-300 font-bold">Contact</a>
      </li>
    </ul>
  
    <div class="flex space-x-4 ml-auto">
        <button class="bg-white p-2 rounded-full hover:bg-gray-200 transition duration-300">
          <img src="assets/icons/uk.svg" class="w-10 h-10">
        </button>

        <button class="bg-white p-2 rounded-full hover:bg-gray-200 transition duration-300">
          <img src="assets/icons/spain.svg" class="w-10 h-10">
        </button>
    
        <button class="bg-white p-2 rounded-full hover:bg-gray-200 transition duration-300">
          <img src="assets/icons/moon.svg" class="w-10 h-10">
        </button>
      </div>
  </nav>